:root {
    --base-clr: #72B549;
    --base-bg: #292A2C;
    --base-txt-clr: #eaf4f4;
    --base-heading-ff: "Bebas Neue", sans-serif;
    --base-h3-fs: calc(1rem + .6vw);
    --base-margin: 2rem 2rem;
    --form-bg-clr: #2b2c28;
    --btn-fs: calc(.6rem + .9vw);
    --btn-padding: 0.3em 2em;
    --p-fs: calc(.5rem + .8vw);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.sign-up-page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.company-bg {
    position: relative;
    width: 40%;
    background: url(images/mikkel-bech-yjAFnkLtKY0-unsplash.jpg) no-repeat center center/cover;
}

.signup-form {
    width: 60%;
    background-color: var(--base-bg);
}

.signup-form > .h3-intro {
    margin-top: 6rem;
    max-width: 50ch;
}

.h3-intro {
    color: var(--base-clr);
    font-family: var(--base-heading-ff);
    font-size: var(--base-h3-fs);
    margin: var(--base-margin);
}

.form-div {
    background-color: var(--form-bg-clr);
}

form {
    /* border: 2px solid blue; */
    width: 80%;
    margin: var(--base-margin);
}

form .h3-intro {
    margin: 0;
    color: var(--base-txt-clr);
}

.input {
    display: flex;
    justify-content: space-between;
}

.types {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--base-txt-clr);
    font-family: var(--base-heading-ff);
}

input {
    width: 20vw;
}

.signup-btn {
    margin: var(--base-margin);
    margin-top: 0;
    background-color: var(--base-clr);
    font-size: var(--btn-fs);
    color: var(--base-txt-clr);
    padding: var(--btn-padding);
    border-radius: 7px;
    border: none;
    font-family: var(--base-heading-ff);
}

.login-p {
    margin: var(--base-margin);
    margin-top: 0;
    color: var(--base-txt-clr);
    font-size: var(--p-fs);
}

a {
    text-decoration: none;
    color: var(--base-clr);
}

.logo-img {
    width: 5em;
}

.bg-logo {
    /* background-color: var(--form-bg-clr); */
    background-color: #040404;
    position: absolute;
    width: 100%;
    top: 50px;
    text-align: center;
}

.h1-logo {
    color: var(--base-clr);
    /* text-align: ; */
}