:root {
    --base-clr: #72B549;
    --bade-bg: #292A2C;
    --base-txt-clr: #eaf4f4;
    --base-heading-ff: "Bebas Neue", sans-serif;
    --base-h3-fs: calc(1rem + .6vw);
    --base-margin: 2rem 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.sign-up-page {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.company-bg {
    width: 40%;
    background: url(images/mikkel-bech-yjAFnkLtKY0-unsplash.jpg) no-repeat center center/cover;
}

.signup-form {
    width: 60%;
    background-color: var(--bade-bg);
}

.signup-form > .h3-intro {
    margin-top: 6rem;
    max-width: 50ch;
}

.h3-intro {
    color: var(--base-clr);
    font-family: var(--base-heading-ff);
    font-size: var(--base-h3-fs);
    margin: var(--base-margin);
}

form {
    border: 2px solid blue;
    width: 80%;
    margin: var(--base-margin);
}

form .h3-intro {
    margin: 0;
}

.input {
    display: flex;
    justify-content: space-between;
}

.types {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--base-txt-clr);
}

input {
    width: 20vw;
}